<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=HAL\SQLEXPRESS01;Initial Catalog=Ewidencja_plyt_z_filmami;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
    <add name="EwidencjaPlytDapper.Properties.Settings.EwidencjaPlytConnectionString"
      connectionString="Data Source=HAL\SQLEXPRESS01;Initial Catalog=EwidencjaPlyt;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>